<Files "ewsidentify">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "ews">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "ewswgs84">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "ewswgs84d">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "ewswcs">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lucky">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lucky2">
    Allow from all
    SetHandler cgi-script
</Files>
