    LAYER
        NAME %(NAME)s

        PROJECTION
%(PROJ)s
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     %(DATA)s
        HEADER   ./templates/layer_query_header.html
        TEMPLATE ./templates/layer_query_body.html
        CLASS
          NAME       ''
          KEYIMAGE   '%(KEYIMAGE)s'
          EXPRESSION "-1"
          COLOR      0     0       0
        END
        INCLUDE "%(COLORMAPFILE)s"
        METADATA
            "wms_title"    "%(TITLE)s"
            "wms_abstract" "%(ABSTRACT)s"
	     "wcs_label"                  "%(NAME)s"
	     "wcs_rangeset_name"          "%(NAME)s"
	     "wcs_rangeset_label"         "%(NAME)s"
        END  # end METADATA
    END # end LAYER
